<script>
	import { onMount } from "svelte";
	import Tab, { Label } from "@smui/tab";
	import TabBar from "@smui/tab-bar";

	import LoggedIn from "./LoggedIn.svelte";
	import Login from "./Login.svelte";
	import ServerState from "./ServerState.svelte";

	import { loggedInUsername } from "./stores";
	import { loggedInJwt } from "./stores";
	import UserManager from "./UserManager.svelte";

	export let baseUrl = "";

	let user = {
		loggedIn: false,
		username: "",
		jwt: "",
	};

	let activeTab = "Home";

	onMount(() => {
		// Check if JWT exist in local storage
		const storedJwt = sessionStorage.getItem("JWT");
		const storedUsername = sessionStorage.getItem("LoggedInUsername");

		if (storedJwt !== null) {
			console.log("There is a stored JWT: ", storedJwt);
			loggedInJwt.set(storedJwt);
			loggedInUsername.set(storedUsername);
		}
	});

	loggedInUsername.subscribe((value) => {
		user.username = value;
	});

	loggedInJwt.subscribe((value) => {
		user.loggedIn = value !== "" ? true : false;
		user.jwt = value;
	});
</script>

<main>
	<div class="header">
		<p class="headerTitle">goInstantBBB</p>
		<p class="headerUnderTitle">Your instant BigBlueButton server.</p>
	</div>

	{#if !user.loggedIn}
		<Login {baseUrl} />
	{:else}
		<div>
			<LoggedIn username={user.username} />
		</div>
		<div>
			<TabBar tabs={["Home", "Users"]} let:tab bind:active={activeTab}>
				<!-- Note: the `tab` property is required! -->
				<Tab {tab}>
					<Label>{tab}</Label>
				</Tab>
			</TabBar>

			<div style="margin-top: 1em;">
				{#if activeTab == "Home"}
					<ServerState {baseUrl} />
				{:else if activeTab == "Users"}
					<UserManager {baseUrl} />
				{/if}
			</div>
		</div>
	{/if}
</main>

<style>
	main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
	}

	.headerTitle {
		color: #ff3e00;
		font-size: 4em;
		font-weight: 100;
		margin-bottom: -1ex;
		margin-top: 0px;
	}

	.headerUnderTitle {
		color: black;
		left: 20px;
	}

	.header {
		/* background-color: rgb(196, 192, 245); */
		/* margin-left: 30%; */
		/* margin-right: 30%; */
		margin-top: 1em;
		margin-bottom: 2em;
		border-bottom-width: 1px;
		border-bottom-style: solid;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>
