<script>
    import Dialog, { Header, Title, Content, Actions } from "@smui/dialog";
    import IconButton from "@smui/icon-button";
    import Button, { Label } from "@smui/button";
    import Textfield from "@smui/textfield";
    import Snackbar, { Label as SnackLabel } from "@smui/snackbar";
    import { createEventDispatcher } from "svelte";
    import { createUserRequest } from "./userManagerHelper";
    import { loggedInJwt } from "./stores.js";

    export let baseUrl = "";
    
    let jwt = "";
    loggedInJwt.subscribe((value) => {
        jwt = value;
    });

    let open = false;

    let username = "";
    let password = "";

    async function createUser(username, password) {
        console.log("Create user");
        const createdUsername = await createUserRequest(
            baseUrl,
            jwt,
            username,
            password
        );

        if (createdUsername === undefined) {
            return;
        }

        requestUpdateUsers();
        showSnackbarUserCreated(username);
    }

    let snackbaruserCreatedLabel = "";
    let snackbaruserCreated;

    function showSnackbarUserCreated(username) {
        snackbaruserCreatedLabel = "User '" + username + "' was created.";
        snackbaruserCreated.open();
    }

    const dispatch = createEventDispatcher();

    function requestUpdateUsers() {
        dispatch("updateUsers");
    }

    function closeHandler(e) {
        switch (e.detail.action) {
            case "close":
                break;
            case "abort":
                break;
            case "create":
                createUser(username, password);
                break;
        }

        // Reset fields
        username = "";
        password = "";
    }
</script>

<div class="button">
    <Button
        on:click={() => {
            open = true;
        }}
        variant="raised"
    >
        <Label>Create new User</Label>
    </Button>
</div>
<div>
    <Dialog
        bind:open
        aria-labelledby="fullscreen-title"
        aria-describedby="fullscreen-content"
        on:SMUIDialog:closed={closeHandler}
    >
        <Header>
            <Title id="fullscreen-title">Create new user</Title>
        </Header>
        <Content id="fullscreen-content">
            <div>
                <div class="testFields">
                    <Textfield
                        bind:value={username}
                        label="Username"
                        variant="outlined"
                    />
                </div>
                <div class="testFields">
                    <Textfield
                        bind:value={password}
                        label="Password"
                        variant="outlined"
                        type="password"
                    />
                </div>
            </div>
        </Content>
        <Actions>
            <Button action="abort">
                <Label>Abort</Label>
            </Button>
            <Button action="create" defaultAction>
                <Label>Create</Label>
            </Button>
        </Actions>
    </Dialog>
</div>

<Snackbar
    bind:this={snackbaruserCreated}
    labelText={snackbaruserCreatedLabel}
    timeoutMs={4000}
>
    <SnackLabel />
    <Actions>
        <IconButton class="material-icons" title="Dismiss">close</IconButton>
    </Actions>
</Snackbar>

<style>
    .testFields {
        margin-top: 1em;
        margin-bottom: 1em;
    }
</style>
