<script>
    import Button, { Label } from "@smui/button";
    import { loggedInUsername } from "./stores.js";
    import { loggedInJwt } from "./stores.js";

    export let username = "unknown username";

    function logout() {
        sessionStorage.clear();
        loggedInJwt.set("");
        loggedInUsername.set("");
    }
</script>

<div class="outer">
    <!-- <LayoutGrid>
        <Cell span={1}>
            <div>Username: {username}</div>
        </Cell>
    </LayoutGrid> -->

    <div class="oneRow">
        <b>Username:</b>
        {username}
    </div>
    <div class="oneRow">
        <Button on:click={logout} variant="outlined">
            <Label>Logout</Label>
        </Button>
    </div>
</div>

<style>
    .outer {
        vertical-align: middle;
        text-align: center;
    }
    .oneRow {
        display: inline-block;
        padding: 1em;
    }
</style>
