<script>
    import Button, { Label } from "@smui/button";
    import Textfield from "@smui/textfield";
    import Checkbox from "@smui/checkbox";
    import FormField from "@smui/form-field";

    import { loggedInUsername } from "./stores.js";
    import { loggedInJwt } from "./stores.js";

    export let baseUrl = "";

    // Inputs
    let username = "";
    let password = "";
    let keepLoggedIn = false;

    // Internal states
    let loginFailed = false;
    let apiEndpointNotReachable = false;

    function handleLoginForm() {
        console.log("Login button pressed.");

        loginFailed = false;

        getToken();
    }

    async function getToken() {
        let bodyContent = {
            Username: username,
            Password: password,
        };

        fetch(baseUrl + "api/v1/auth/login", {
            method: "POST",
            body: JSON.stringify(bodyContent),
            headers: {
                "Content-Type": "application/json",
            },
        })
            .then((response) => response.json())
            .then((result) => {
                if (result.hasOwnProperty("Token")) {
                    console.log("Login successful");
                    console.log("Response: ", result);

                    loggedInUsername.set(result.Username);
                    loggedInJwt.set(result.Token);

                    if (keepLoggedIn) {
                        sessionStorage.setItem("JWT", result.Token);
                        sessionStorage.setItem("LoggedInUsername", username);
                    }
                } else {
                    console.error("Login failed: ", result.errorString);
                    loginFailed = true;
                }
            })
            .catch((reason) => {
                console.error("Login failed: ", reason);
                apiEndpointNotReachable = true;
            });
    }
</script>

<div id="container">
    <div>
        <h3>Login:</h3>
    </div>
    <div class="loginFields">
        <Textfield bind:value={username} label="Username" variant="outlined" />
    </div>
    <div class="loginFields">
        <Textfield
            bind:value={password}
            label="Password"
            variant="outlined"
            type="password"
        />
    </div>
    <div>
        <FormField>
            <Checkbox bind:checked={keepLoggedIn} touch />
            <span slot="label">Remember me.</span>
        </FormField>
    </div>
    <div>
        <Button on:click={handleLoginForm} variant="outlined">
            <Label>Login</Label>
        </Button>
    </div>

    <div>
        {#if loginFailed}
            <p class="wrongCredentials">Username or Password is wrong!</p>
        {:else if apiEndpointNotReachable}
            <p class="wrongCredentials">
                Backend server is not running!<br />Please contact your
                administrator.
            </p>
        {/if}
    </div>
</div>

<style>
    .wrongCredentials {
        color: red;
    }

    .loginFields {
        margin-bottom: 1em;
    }
</style>
