<script>
    import Button, { Label } from "@smui/button";
    import { loggedInJwt } from "./stores.js";
    import { onMount } from "svelte";
    import {
        startServer,
        stopServer,
        getBbbServerState,
        convertBbbServerStateToString,
    } from "./helper.js";

    export let baseUrl = "";

    let jwt = "";
    loggedInJwt.subscribe((value) => {
        jwt = value;
    });

    let serverState = -1;
    let serverStateString = "unknown";
    let isServerUp = false;
    let serverAddress = "unknown";

    onMount(getState);

    async function getState() {
        console.log("Refresh server state");
        const state = await getBbbServerState(baseUrl, jwt);

        if (state === undefined) {
            return;
        }

        serverState = state.ServerState;
        serverStateString = convertBbbServerStateToString(state.ServerState);
        isServerUp = state.IsServerUp;
        serverAddress = state.DnsAddress;
    }

    async function start() {
        startServer(baseUrl, jwt)
            .then((res) => res.json())
            .then((result) => {
                console.log("BBBServer started! ", result);
            });

        getState();
    }

    async function stop() {
        stopServer(baseUrl, jwt)
            .then((res) => res.json())
            .then((result) => {
                console.log("BBBServer stopped! ", result);
            });

        getState();
    }
</script>

<div id="container">
    <table class="table">
        <tr>
            <td>Server state:</td>
            <td>{serverStateString}</td>
        </tr>
        <tr>
            <td>Is server up:</td>
            <td>{isServerUp === true ? "Yes" : "No"}</td>
        </tr>
        <tr>
            <td>Address:</td>
            <td>
                <a href="https://{serverAddress}" target="_blank">
                    https://{serverAddress}
                </a>
            </td>
        </tr>
    </table>
</div>
<div>
    <div class="button">
        <Button on:click={getState} variant="outlined">
            <Label>Refresh</Label>
        </Button>
    </div>
</div>
<div>
    <div class="heading">Control Server:</div>
    <div class="button">
        {#if !isServerUp}
            <Button
                on:click={start}
                variant="raised"
                disabled={serverState === 4 || serverState === -1}
            >
                <Label>Start Server</Label>
            </Button>
        {:else}
            <Button
                on:click={stop}
                variant="raised"
                disabled={serverState === 2}
            >
                <Label>Stop Server</Label>
            </Button>
        {/if}
    </div>
</div>

<style>
    table,
    td {
        border: 1px solid;
        border-collapse: collapse;
        border-color: black;
        padding: 1ex;
    }
    .table {
        margin-left: auto;
        margin-right: auto;
    }
    .button {
        padding: 0.5em;
    }
    .heading {
        font-weight: bold;
    }
</style>
