<script>
    import Button, { Label } from "@smui/button";
    import Snackbar, { Actions, Label as SnackLabel } from "@smui/snackbar";
    import IconButton from "@smui/icon-button";

    import { loggedInJwt } from "./stores.js";
    import { onMount } from "svelte";
    import { getAllUsers, deleteUserRequest } from "./userManagerHelper.js";
    import CreateUser from "./CreateUser.svelte";

    export let baseUrl = "";

    let jwt = "";
    loggedInJwt.subscribe((value) => {
        jwt = value;
    });

    let users = [];

    let snackbarUserDeleted;
    let snackbarUserDeletedLabel = "";

    onMount(getUsers);

    async function getUsers() {
        console.log("Get users");
        const response = await getAllUsers(baseUrl, jwt);

        if (response === undefined) {
            return;
        }
        if (!Array.isArray(response)) {
            console.log("Response is no array!");
            return;
        }

        users = response;
    }

    async function deleteUser(username) {
        console.log("Delete user with username: ", username);

        const deletedUsername = await deleteUserRequest(baseUrl, jwt, username);

        if (deletedUsername === undefined) {
            return;
        }

        getUsers();
        showSnackbarUserDeleted(deletedUsername);
    }

    function showSnackbarUserDeleted(username) {
        snackbarUserDeletedLabel = "User '" + username + "' is deleted.";
        snackbarUserDeleted.open();
    }
</script>

<CreateUser
    {baseUrl}
    on:updateUsers={(e) => {
        getUsers();
    }}
/>

<div id="container">
    <table class="table">
        <tr>
            <td><b>Username</b></td>
            <td><b>Actions</b></td>
        </tr>
        {#each users as user}
            <tr>
                <td>{user.Username}</td>
                <td>
                    <Button
                        on:click={deleteUser(user.Username)}
                        variant="outlined"
                    >
                        <Label>Delete</Label>
                    </Button>
                </td>
            </tr>
        {/each}
    </table>
</div>

<Snackbar
    bind:this={snackbarUserDeleted}
    labelText={snackbarUserDeletedLabel}
    timeoutMs={4000}
>
    <Label />
    <Actions>
        <IconButton class="material-icons" title="Dismiss">close</IconButton>
    </Actions>
</Snackbar>

<style>
    table,
    td {
        border: 1px solid;
        border-collapse: collapse;
        border-color: black;
        padding: 1ex;
    }
    .table {
        margin-left: auto;
        margin-right: auto;
    }
</style>
